.name{
    z-index: 2;
    /* position: absolute;
    top: 53%;
    left: 40%; */
}


.name-style{
    color: whitesmoke;
}


.positioning{
    position: absolute;
    top: 22%;
    left: 40%;

}

.circle-image{
    z-index: 3;
    position: relative;
    object-fit: cover;
    border-radius: 80%;
    height: 225px;
    width: 225px;
}